* {
    margin: 0;
    padding: 0;
}

/*==========Our Blog CSS Start==========*/
.main-our-blog {
    position: relative;
    padding: 115px 0 120px 0;
}

.blog-box {
    width: 100%;
    position: relative;
    background: #ffffff;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.blog-img-box {
    width: 100%;
    height: 270px;
    border-radius: 4px 4px 0 0;
    position: relative;
    overflow: hidden;
}

.blog-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.blog-box:hover .blog-img {
    transform: scale(1.1) rotate(-3deg);
}

.blog-date {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.blog-date a {
    display: inline-block;
    padding: 5px 20px;
    height: 35px;
    background: linear-gradient(to right, #f56915, #f0a80e, #f0a80e, #f56915);
    background-size: 200% 100%;
    background-position: left center;
    border-radius: 4px;
    color: #ffffff;
    transition: 0.3s;
}

.blog-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-bottom: solid 1px #d7d7d7;
    margin-bottom: 10px;
}

.blog-time p {
    font-size: 16px;
    margin: 0;
    color: #7c7c7c;
    font-weight: 600;
}

.blog-text .h3-title a {
    display: inline-block;
    color: #010f2e;
    transition: 0.3s;
    text-transform: unset;
    text-decoration: unset !important;
}

.blog-text .h3-title a:hover {
    color: #f56915;
}

.blog-date a:hover {
    background-position: right center;
}

.blog-date a i {
    margin-right: 10px;
    vertical-align: text-top;
}

.blog-text {
    position: relative;
    padding: 26px 35px 30px 35px;
}

.blog-text a {
    color: #f56915;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline !important;
    transition: 0.3s;
}

.blog-text a:hover {
    color: #010f2e;
}

.blog-text a i {
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.blog-text a:hover i {
    margin-left: 15px;
}

.blog-list {
    padding-top: 20px;
}

.blog-list .view-all {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
    line-height: 1;
}

.view-all .sec-btn {
    color: #f56915;
}

.view-all .sec-btn:hover {
    color: #ffffff;
}

.view-all .sec-btn:before {
    z-index: 1;
}

.view-all .sec-btn:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    width: auto;
    height: auto;
    background: #ffffff;
    opacity: 1;
    transition: 0.3s;
    z-index: 0;
}

/*==========Our Blog CSS End==========*/

/*==========Blog List Page CSS Start==========*/
.main-our-blog.page-our-blog {
    padding: 120px 0;
}

.blog-text .h3-title a {
    color: #010f2e;
    text-transform: unset;
    text-decoration: unset !important;
    transition: 0.3s;
}

.blog-text .h3-title a:hover {
    color: #f56915;
}

.main-our-blog.page-our-blog .blog-box {
    margin-bottom: 30px;
}

.blog-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 15, 46, 0.2);
    z-index: 0;
}

.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: linear-gradient(to right, #f56915, #f0a80e, #f0a80e, #f56915);
    background-size: 200% 100%;
    background-position: left center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    padding-left: 5px;
    transition: 0.3s;
    z-index: 1;
}

.video-play-icon:hover {
    color: #ffffff;
    background-position: right center;
}

.video-play-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    animation: waveBtn 2.5s infinite;
    z-index: -1;
}

@keyframes waveBtn {
    0% {
        box-shadow: 0 0 0 0 rgba(240, 168, 14, 1)
    }

    50% {
        box-shadow: 0 0 0 40px transparent;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

.video-play-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 142px;
    height: 142px;
    background: transparent;
    border: 2px solid #f56915;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.blog-post-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 0;
}

.blog-img-slide,
.blog-post-slider .slick-list,
.blog-post-slider .slick-track,
.blog-post-slider .slick-slide {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.blog-img.blog-img-slider-box {
    transform: none !important;
}

.blog-post-slider .slick-arrow {
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    border-radius: 4px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #f56915, #f0a80e, #f0a80e, #f56915);
    background-size: 200% 100%;
    background-position: left center;
    color: #ffffff;
}

.blog-post-slider .slick-arrow:hover {
    background-position: right center;
}

.blog-post-slider .slick-arrow.next-arrow {
    left: auto;
    right: 10px;
}

.blog-post-slider .slick-arrow:before {
    display: none;
}

.blog-text.no-img {
    margin-top: 0;
    width: 100%;
    padding-top: 35px;
}

.blog-text .blog-date {
    padding: 0;
    margin-bottom: 22px;
    position: relative;
    top: 0;
    left: 0;
}

.blog-text .blog-date a {
    color: #ffffff;
    text-decoration: unset !important;
    font-weight: normal;
}

.blog-text .blog-date a i {
    font-size: 15px;
    vertical-align: text-top;
    margin-left: 0;
}

.blog-pagination {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.pagination-arrow {
    color: #f56915;
    font-size: 35px;
    display: inline-block;
    margin: 0 18px;
    vertical-align: middle;
    transition: 0.3s;
}

.pagination-arrow:hover {
    color: #f0a80e;
}

.blog-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.blog-pagination ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px solid #777777;
    border-radius: 4px;
    color: #777777;
    font-size: 20px;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.blog-pagination ul li:hover {
    background: #f56915;
    border-color: #f56915;
    color: #ffffff;
}

.blog-pagination ul li.active,
.blog-pagination ul li.active:hover {
    background: #d7d7d7;
    border-color: #d7d7d7;
    color: #777777;
    cursor: default;
}

/*==========Blog List Page CSS End==========*/

.blog-list-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

@media (min-width: 1024px) {
    .blog-list-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}