/*** 

====================================================================
	Main Footer
====================================================================

***/
.main-footer {
	position: relative;
	display: block;
	background-color: var(--thm-black);
	padding: 100px 0px 0px;
	overflow: hidden;
	z-index: 1;
}

.main-footer__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: .5;
	z-index: -1;
}

.main-footer__top {
	position: relative;
	display: block;
	padding-bottom: 91px;
}

/* Footer Grid */
.main-footer__grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.main-footer__grid-item {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {

	.main-footer__grid-item--about,
	.main-footer__grid-item--newsletter,
	.main-footer__grid-item--contact {
		width: 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 992px) {
	.main-footer__grid-item--about {
		width: 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.main-footer__grid-item--newsletter {
		width: 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.main-footer__grid-item--gallery {
		width: 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.main-footer__grid-item--contact {
		width: 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
}

@media (min-width: 1200px) {
	.main-footer__grid-item--about {
		width: 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.main-footer__grid-item--newsletter {
		width: 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.main-footer__grid-item--gallery {
		width: 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.main-footer__grid-item--contact {
		width: 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
}

.footer-widget__about {
	position: relative;
	display: block;
}

.footer-widget__logo {
	position: relative;
	display: block;
	margin-bottom: 18px;
}

.footer-widget__about-text {
	color: #999999;
	font-size: 14px;
	margin-bottom: 30px;
}

.footer-widget__about-text-2 {
	color: #999999;
	font-size: 14px;
}

.footer-widget__title-box {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.footer-widget__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: var(--thm-white);
	position: relative;
	display: inline-block;
}

.footer-widget__newsletter {
	position: relative;
	display: block;
}

.footer-widget__newsletter-text {
	color: #999999;
	line-height: 26px;
	position: relative;
	display: block;
	margin-top: -6px;
}

.footer-widget__newsletter-form-input-box {
	position: relative;
	display: block;
	margin-top: 30px;
}

.footer-widget__newsletter-form-input-box input[type="email"] {
	font-size: 14px;
	height: 60px;
	width: 100%;
	background-color: rgba(var(--thm-white-rgb), 1);
	outline: none;
	color: var(--thm-gray);
	font-weight: 400;
	border: none;
	padding-right: 25px;
	padding-left: 25px;
}

.footer-widget__newsletter-btn {
	position: relative;
	border: none;
	background-color: var(--thm-base);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 700;
	color: var(--thm-white);
	padding: 10px 30px;
	margin-top: 15px;
}

.footer-widget__newsletter-btn:hover {
	background-color: var(--thm-white);
	color: var(--thm-base);
}

.footer-widget__newsletter-btn span {
	position: relative;
	display: inline-block;
	font-size: 16px;
	color: var(--thm-white);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget__newsletter-btn:hover span {
	color: var(--thm-base);
}

.footer-widget__gallery {
	position: relative;
	display: block;
}

.footer-widget__gallery-list {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -6px;
	margin-left: -6px;
}

.footer-widget__gallery-list li {
	position: relative;
	display: block;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 10px;
}

.footer-widget__gallery-list li:nth-child(4) {
	margin-bottom: 0;
}

.footer-widget__gallery-list li:nth-child(5) {
	margin-bottom: 0;
}

.footer-widget__gallery-list li:nth-child(6) {
	margin-bottom: 0;
}

.footer-widget__gallery-img {
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
}

.footer-widget__gallery-img:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	background-color: rgba(var(--thm-black-rgb), .70);
	transition: all 700ms ease;
	transform: translateY(-100%);
	z-index: 1;
}

.footer-widget__gallery-list li:hover .footer-widget__gallery-img:before {
	transform: translateY(0%);
}

.footer-widget__gallery-img img {
	width: 100%;
	transition-delay: .1s;
	transition-timing-function: ease-in-out;
	transition-duration: .7s;
	transition-property: all;
}

.footer-widget__gallery-list li:hover .footer-widget__gallery-img img {
	transform: scale(1.1) rotate(2deg);
}

.footer-widget__gallery-img a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: var(--thm-white);
	transform: translateY(100px);
	opacity: 0;
	transition: all 700ms ease;
	z-index: 2;
}

.footer-widget__gallery-list li:hover .footer-widget__gallery-img a {
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.3s;
}

.footer-widget__gallery-list li .footer-widget__gallery-img a:hover {
	color: var(--thm-base);
}

.footer-widget__contact {
	position: relative;
	display: block;
}

.footer-widget__contact-text {
	font-size: 14px;
	color: #999999;
	margin-top: -10px;
	margin-bottom: 16px;
	position: relative;
	display: block;
}

.footer-widget__contact-list {
	position: relative;
	display: block;
}

.footer-widget__contact-list li {
	position: relative;
	display: block;
}

.footer-widget__contact-list li+li {
	margin-top: 6px;
}

.footer-widget__contact-list li p {
	font-size: 14px;
	color: #999999;
}

.footer-widget__contact-list li p a {
	color: #999999;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget__contact-list li p a:hover {
	color: var(--thm-base);
}

.site-footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 25px;
}

.site-footer__social a {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	color: var(--thm-white);
	background-color: transparent;
	font-size: 15px;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 1;
}

.site-footer__social a:hover {
	color: var(--thm-base);
}

.site-footer__social a+a {
	margin-left: 20px;
}

.main-footer__bottom {
	position: relative;
	display: block;
	border-top: 2px solid #333333;
	padding: 32px 0;
}

.main-footer__bottom-inner {
	position: relative;
	display: block;
	text-align: center;
}

.main-footer__bottom-text {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 600;
}



/*** 

====================================================================
	Main Footer Two
====================================================================

***/
.main-footer-two {
	position: relative;
	display: block;
	background-color: #000000;
	z-index: 1;
}

.main-footer-two__bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: .36;
	z-index: -1;
}

.main-footer-two__top {
	position: relative;
	display: block;
	padding: 100px 0 53px;
}

.main-footer-two__inner {
	position: relative;
	display: block;
}

.footer-widget-two__about {
	position: relative;
	display: block;
}

.footer-widget-two__logo {
	position: relative;
	display: block;
}

.footer-widget-two__about-text {
	font-size: 18px;
	color: #999999;
	line-height: 40px;
	margin-top: 31px;
	margin-bottom: 31px;
}

.site-footer-two__social {
	position: relative;
	display: flex;
	align-items: center;
}

.site-footer-two__social a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	background-color: var(--thm-black);
	border-radius: 50%;
	font-size: 17px;
	color: var(--thm-white);
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 1;
}

.site-footer-two__social a+a {
	margin-left: 15px;
}

.site-footer-two__social a:hover {
	color: var(--thm-white);
	background-color: var(--thm-base);
}

.site-footer-two__social a:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: var(--thm-base);
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 1;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	z-index: -1;
}

.site-footer-two__social a:hover:after {
	opacity: 1;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.footer-widget-two__link {
	position: relative;
	display: block;
}

.footer-widget-two__title-box {
	position: relative;
	display: block;
	margin-bottom: 28px;
}

.footer-widget-two__title {
	font-size: 24px;
	font-weight: 600;
	color: var(--thm-white);
	line-height: 24px;
}

.footer-widget-two__link-box {
	position: relative;
	display: block;
}

.footer-widget-two__link-list {
	position: relative;
	display: block;
}

.footer-widget-two__link-list li a {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 15px;
	color: #999;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget-two__link-list li a span {
	position: relative;
	display: inline-block;
	font-size: 10px;
	color: #999;
	padding-right: 15px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget-two__link-list li a:hover {
	color: var(--thm-base);
}

.footer-widget-two__link-list li a:hover span {
	color: var(--thm-base);
}

.footer-widget-two__contact {
	position: relative;
	display: block;
}

.footer-widget-two__contact-list {
	position: relative;
	display: block;
}

.footer-widget-two__contact-list li {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer-widget-two__contact-list li+li {
	margin-top: 12px;
}

.footer-widget-two__contact-list .icon {
	position: relative;
	display: flex;
	align-items: center;
}

.footer-widget-two__contact-list .icon span {
	position: relative;
	display: inline-block;
	font-size: 30px;
	color: var(--thm-base);
}

.footer-widget-two__contact-list .text {
	margin-left: 25px;
}

.footer-widget-two__contact-list .text p {
	font-size: 16px;
	color: #999;
}

.footer-widget-two__contact-list .text p a {
	color: #999;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget-two__contact-list .text p a:hover {
	color: var(--thm-base);
}

.main-footer-two__bottom {
	position: relative;
	display: block;
}

.main-footer-two__bottom-inner {
	position: relative;
	display: block;
	text-align: center;
	border-top: 1px solid #423A3A;
	padding: 43px 0;
}

/* Main Footer Three */
.main-footer-three {
	position: relative;
	display: block;
}

.main-footer-three .main-footer-two__bottom-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* End */


/*
====================================================================
Footer thrive.com start 
====================================================================
*/
.footer {
	position: relative;
	background: #000;
	overflow: hidden;
	color: #fff;
}

/* Background image */
.footer-bg {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.2;
	z-index: 0;
}

/* Dark overlay */
.footer::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

/* CTA content */
.footer-cta {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 70px 20px 55px;
	max-width: 1000px;
	margin: 0 auto;
}

.footer-title {
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-title:hover {
	color: #fff;
	opacity: 0.90;

}


.footer-desc {
	font-size: 15px;
	color: rgba(255, 255, 255, 0.788);
	margin-bottom: 32px;
}

/* Actions */
.footer-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}

.footer-or {
	font-size: 25px;
	font-weight: 600;
	color: rgb(255, 255, 255);
}

/* Buttons */
.footer-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: 20px 40px;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
	white-space: nowrap;
	text-transform: uppercase;
	position: relative;
	border-radius: 2px;
	line-height: 1.2;
}

/* Orange button - Left button */
.footer-btn-primary {
	background: #f56915;
	color: #fff;
	border: 2px solid #fff;
}

.footer-btn-primary:hover {
	background: #e55a0a;
	color: #fff;
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(245, 105, 21, 0.4);
}

/* Outline button - Right button */
.footer-btn-outline {
	border: 2px solid #ffffff;
	color: #ffffff;
	background: #000000;
}

.footer-btn-outline:hover {
	background: #1a1a1a;
	color: #ffffff;
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

/* Bottom */
.footer-bottom {
	position: relative;
	z-index: 2;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.85);
	text-align: center;
}

.footer-bottom-text {
	color: #fff;
	margin: 0;
	font-size: 14px;
}

.footer-btn-icon {
	width: 35px;
	height: 35px;
  font-weight: 800;
	object-fit: contain;
	display: inline-block;
	flex-shrink: 0;
}

/* Icon colors */
.footer-btn-primary .footer-btn-icon {
	filter: brightness(0) invert(1);
}

.footer-btn-outline .footer-btn-icon {
	filter: brightness(0) invert(1);
}


/* 
====================================================================
End of footer thrive.com 
====================================================================
*/