.mission-one {
    padding: 50px 0px;
    background-image: url(../../images/shapes/mission-one-bg.jpg);
}

.mission-one h3,
.mission-one h2,
.mission-one p {
    font-size: 29px;
    line-height: 51px;
    font-family: var(--thm-font);
    display: inline;
}

.mission-one h3,
.mission-one h2 {
    color: var(--thm-base);
}
